/**
 * Diese Datei enthält die CSS-Defintionen für eigene Icons
 */

/* Fix für eigen Icons in der Navbar, da diese sonst zu groß
 * dargstellt werden. */
div[data-role="navbar"] .ui-icon-anleitung.ui-btn-icon-top:after,
div[data-role="navbar"] .ui-icon-karteiverwaltung.ui-btn-icon-top:after,
div[data-role="navbar"] .ui-icon-lernfortschritt.ui-btn-icon-top:after {
	background-size: 100%;
}

/* Schaltet die Hintergrundfarbe der Icons aus. */
div[data-role="navbar"] .ui-btn-icon-top:after {
	background-color: #FF507D;
}

/* Anleitung Icon */
.ui-icon-anleitung:after {
	background-image: url("../img/app-icon-anleitung-highres.png");
}

/* Karteiverwaltung Icon */
.ui-icon-karteiverwaltung:after {
	background-image: url("../img/app-icon-karteien-highres.png");
}

/* Lernfortschritt Icon */
.ui-icon-lernfortschritt:after {
	background-image: url("../img/app-icon-lernfortschritt-highres.png");
}
