/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #A7A7A7),
    color-stop(0.51, #E4E4E4)
    );
    background-image:url(../img/back.jpg);
    background-size: 100% 100%;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

div[data-role="content"] {
    text-transform: none ;
}

div[data-role="footer"] {
    text-transform: none ;
}

/* ************************* Eigene CSS-Ergänzungen/Anpassungen ************************* */

p{
    font-size:14px;
    line-height:22px;
}

.content-home{
    margin-top: 70px;
}

.ui-listview > .ui-li-has-thumb > .ui-btn{
    padding-left:60px !important;
}

.ui-li-has-thumb> a >img{
    background: #FF507D !important;
    top:16px !important;
    left:12px !important;
}

.content-continuos-text{
    width:auto;
    height:auto;
    background:#fff;
    padding:0px 20px;
    border:1px solid #63b059;
    border-radius:0.5em;
}

hr{
    margin:30px 0 30px 0;
}

.kartei-action-box > .ui-btn {
    position: absolute;
    margin: 0px;
    top: auto;
    bottom: 0.24em;
}

.kartei-action-box > .footer-button-right {
    right: 0;
}

.kartei-action-box > .footer-button-left {
    left: 0;
}

.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
#nachrichten-dialog
{
    background-color: #fff /*{a-active-background-color}*/;
    border-color: #ff507d /*{a-active-border}*/;
    color: #333 /*{a-active-color}*/;
    text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #F3F3F3 /*{a-active-shadow-color}*/;
    z-index:999;
}

.a-warnung, .a-hinweis{
    color:#FF507D !important;
    font-size:1.25em;
    border: 1px solid #FF507D !important;
    margin: 0 auto;
    width:225px;
    height:auto;
    cursor:default;
}

.a-hinweis {
    color:#63B059 !important;
    border: 1px solid #63B059 !important;
}

.a-hinweis:hover, .a-warnung:hover{
    background-color:#fff !important;
}

.a-hinweis.ui-icon-info:after {
    background-color: #63B059 !important;
    background-color: rgba(99,176,89,1) !important;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.div-hinweis {
    background-color: #63B059;
    background-color: rgba(99,176,89,1);
}

#nachrichten-dialog {
    position: absolute !important;
    -webkit-border-radius: 0.6em;
    border-radius: 0.6em;
    top: 100px;
    left: 50%;
    margin-left: -139.5px;
    box-shadow: 0px 0px 10px #333;
    -webkit-box-shadow: 0px 0px 10px #333;
}

#neueKartei-div-hinweis > .ui-btn-icon-left:after, #neueVokabel-div-hinweis > .ui-btn-icon-left:after, #karteiverw-div-hinweis > .ui-btn-icon-left:after, #vokabelverw-div-hinweis > .ui-btn-icon-left:after {
    background-color: #63B059;
    background-color: rgba(99,176,89,1);
}

.inputText{
    box-shadow: 0 0 12px #ff507d;
    -webkit-box-shadow: 0 0 12px #ff507d;
    border:1px solid #ff507d !important;
}

.div-markiert{
    box-shadow: 0 0 12px #ff507d;
    -webkit-box-shadow: 0 0 12px #ff507d;
    border:1px solid #ff507d !important;
}

/* Style für löschen-Dialog */
.loeschen-hintergrund{
    position:fixed;
    background: rgba(0, 0, 0, 0.5);
    width:100%;
    height:100%;
    z-index:1001;
}

#loeschen-dialog{
    position: absolute;
    background:#fff;
    z-index:1002;
    border: 1px solid #FF507D !important;
    width:279px;
    height:auto;
    cursor:default;
    text-align:center;
    border-radius:0.6em;
    top: 100px;
    left: 50%;
    margin-left: -139.5px;
    color:#333;
    padding:10px 0 10px 0;
}

.loeschen-dialog-titel{
    font-size:1.5em;
}

.loeschen-dialog-titel, .loeschen-dialog-text{
    padding-bottom:10px;
}


/* Style auf der Lernen-Page */
#lernen-div-metainfo p{
    width:50%;
    float:left;
    margin:-20px 0 30px 0;
    font-size:1.5em;
    font-weight:bold;
}

#lernen-div-zeit{
    text-align:right;
}

#lernen-div-karte{
    clear:both;
    margin:0 auto 30px;
    width:60%;
    min-width:250px;
    height:280px;
    background:#fff;
    border:1px solid #FF9EB7;
    border-radius:0.5em;
}

#lernen-div-karteHead{
    border-radius:0.5em 0.5em 0 0;
    border-bottom:1px solid #FF9EB7;
    background-color:#EDEDED;
    height:40px;
}

#lernen-div-karteHead p{
    font-size:1.5em;
    line-height:2em;
    text-align:center;
    font-weight:bold;
    margin: 0px;
}

#lernen-div-karteBody{
    padding-top:48px; 
    text-align:center;
    height:110px;;
    margin:20px;
}

#lernen-div-karteBody p{
    color:#666;
}

#lernen-div-karteFoot{
    border-radius:0 0 0.5em 0.5em;
    border-top:1px solid #FF9EB7;
    text-align:center;
    background-color:#EDEDED;
    height:40px;
}

#lernen-div-footLinks, #lernen-div-footRechts{
    width:50%;
    float:left;
    height:40px;
}

#lernen-div-footLinks{
    border-radius:0 0 0 0.5em;
}

#lernen-div-footRechts{
    border-radius:0 0 0.5em 0;
}

.richtig{
    background:#63B059;
}

.fast{
    background:#a1d79a;
}

.falsch{
    background:#FF507D;
}

/* ************************* Einbinden eigener Icons ************************* */

/* Fix für eigen Icons in der Navbar, da diese sonst zu groß
 * dargstellt werden. */
div[data-role="navbar"] .ui-icon-anleitung.ui-btn-icon-top:after,
div[data-role="navbar"] .ui-icon-karteiverwaltung.ui-btn-icon-top:after,
div[data-role="navbar"] .ui-icon-lernfortschritt.ui-btn-icon-top:after {
    background-size: 100%;
}

/* Schaltet die Hintergrundfarbe der Icons aus. */
div[data-role="navbar"] .ui-btn-icon-top:after {
    background-color: #FF507D;
}

/* Anleitung Icon */
.ui-icon-anleitung:after {
    background-image: url("../img/app-icon-anleitung-highres.png");
}

/* Karteiverwaltung Icon */
.ui-icon-karteiverwaltung:after {
    background-image: url("../img/app-icon-karteien-highres.png");
}

/* Lernfortschritt Icon */
.ui-icon-lernfortschritt:after {
    background-image: url("../img/app-icon-lernfortschritt-highres.png");
}

