/*****************************************************************************
 * LADE ANIMATION
 *****************************************************************************/
/* LADE ANIMATION ABSCHALTEN: */
.event.received {
    display: block !important;
}
.event.listening {
    display:none !important;
}

/* ausgeblendetes Element der Ladeanimation. Hier ist die eigentliche
 * Webseite enthalten */
.event.received {
    display:none;
}

/* Container der die Elemente der Ladeanimation entält. */
.event.listening {
    display:block;
}

.loading {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.event.listening > div {
    background-color: #333333;
     border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
